!!!
%html{:lang => "ja"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title LOGIN
  %body
    %login.login
      %h1.login__title
        = t('view.login')
      %h1.login__address
        = t('view.address')
      %p.login__address-input
        = t('view.input')
      %h1.login__password-title
        = t('view.password')
      %p.login__password-input
        = t('view.input')
      %h1.login__login-button
        = t('view.login')
      %h1.login__account-button
        = t('view.account')



